
.cardListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.fab {
    margin: 10px;
}

.login {
    display: flex;
    flex-direction: column;
    // border: 1px solid blue;
    margin: 0;
    // margin-bottom: 140px;
    text-align: center;
    display: inline-table;
    margin-left: 50px;
}
.signup {
	text-align: center;
	border-radius: 50px;
    padding: 15px;
    color: white;
    background: #f22278;
    transition: all 0.2s ease-out 0s;
    width: 50px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    transform: translatez(0);
    text-decoration: none;
    box-sizing: border-box;
    font-size: 12px;
	font-weight: normal;
	box-shadow: 0 9px 18px rgba(0,0,0,0.2);
}

// .gradient {
// 	display: block;
//     position: absolute;
//     top: 0;
//     right: 0;
//     width: 100%;
//     height: 100%;
//     bottom: auto;
//     margin: auto;
//     z-index: -1;
//     background: radial-gradient(90px circle at top center, rgba(238,88,63,.8) 30%, rgba(255,255,255,0));
//     transition: all 0s ease-out 0s;
// 	transform: translatex(-140px);
// 	animation: 18s linear 0s infinite move;
// }

// @keyframes move {
// 	0% {
// 		transform: translatex(-140px);
// 	}
// 	25% {
// 		transform: translatex(140px);
// 		opacity: 0.3;
// 	}
// 	50% {
// 		transform: translatex(140px);
// 		opacity: 1;
// 		background: radial-gradient(90px circle at bottom center, rgba(238,88,63,.5) 30%, rgba(255,255,255,0));
// 	}
// 	75% {
// 		transform: translatex(-140px);
// 		opacity: 0.3;
// 	}
// 	100% {
// 		opacity: 1;
// 		transform: translatex(-140px);
// 		background: radial-gradient(90px circle at top center, rgba(238,88,63,.5) 30%, rgba(255,255,255,0));
// 	}
// }

body {
  /* Location of the image */
    background-image: url("../img/cool.jpg");

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}

#Q1 {
    background-image: linear-gradient(to right,#ee2d87, #f22278, #fc7745);

}

.bg-light {
    background-image: linear-gradient(to right,#ee2d87, #f22278, #fc7745);
}

.card-body {
    text-align: center;
    display: inline-block;
}

.cards {
    width: 800px;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.words {
    text-align: center;
    background-color: black;
    opacity: 0.85;
    padding: 30px;
    /* border-radius: 400px; */
    margin-top: 50px;
}

.words .content {
    opacity: 1 !important;
    color: white !important;
}

.singleRecipe {
    background-color: #f22278;
    // opacity: 0.85;
    padding: 5px;
    margin: auto;
}

.singleRecipe .content {
    opacity: 1 !important;
    color: white;
}
